.todo-list {
  padding: 1rem;
  background: linear-gradient(
    180deg,
    var(--color-primary-light) 0%,
    var(--color-secondary-light) 100%
  );
  width: 300px;
  min-height: 100px;
  border-radius: 10px;
}

.list-form input {
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}
