.header {
  width: 100%;
  height: var(--header-height);
  background: linear-gradient(
    90deg,
    var(--color-primary) 0%,
    var(--color-secondary) 100%
  );
  position: fixed;
  color: #fff;
  font-size: 1.5rem;
}

.header__inner {
  height: 100%;
  width: 100%;
  padding: 0 var(--page-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
